* {
    font-family: JetBrains Mono;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

#workspaces,
#window,
#cava,
#clock,
#pulseaudio,
#hardware {
    margin: 5px;
    padding: 5px 5px 5px 5px;

    border: 1px solid white;
    border-radius: 20px;

    background: linear-gradient(135deg, #808080, black);
}

#cava {
    padding: 5px 0 5px 0;
}

#clock {
    font-size: 2em;
}

#pulseaudio {
    padding: 5px 0 5px 0;
}
#group-hardware {
    padding: 0;
}
